.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: rgb(98, 96, 96);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    justify-content: flex-start;
}

.sidebar h3 {
    margin-top: 50px;
    font-size: 18px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

h2 {
    font-size: 24px;
}